@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Domine&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @layer utilities {
  .border-gradient {
    border-width: 1.5px;
    border-style: solid;
    border-image: linear-gradient(to right, blue, rgb(40, 40, 163)) 1;
    border-radius: 0.75rem;
    overflow: hidden;
  }
} */
